.container {
    margin-left: 235px;
    transition: margin-left 0.3s;
    min-height: calc(100% - 2.7rem);
}

.app-content {
    padding: 7.2rem 1.7rem 0;
    width: 100%;
}

:global(.container.wide) {
    margin-left: 75px !important;
}

@media screen and (max-width: 1200px) {
    .container {
        margin-left: 0 !important;
    }
}