# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

src/constants/layout.ts
src/constants/dashboard.ts

src/components/DashBoard/Jackpot.scss
src/components/DashBoard/Jackpot.svelte
src/components/DashBoard/Banner.scss
src/components/DashBoard/Banner.svelte
src/components/Layout/Sidebar/Sidebar.scss
src/components/Layout/Breadcrumb/Breadcrumb.scss
src/components/Layout/Header/Header.scss
src/components/Layout/Header/Header.svelte
src/components/Layout/Footer/Footer.scss
src/components/Layout/Footer/Footer.svelte
src/components/Layout/MobileButton/Mobile.scss
src/components/Layout/MobileButton/Mobile.svelte
src/components/Games/Thirdpartys.scss
src/components/Games/Thirdpartys.svelte
src/pages/Dashboard/Dashboard.scss
src/pages/Dashboard/Dashboard.svelte
src/pages/Layout/Layout.scss
src/pages/Layout/Layout.svelte
src/app.css
src/App.scss

logo.png
logo-sub.png
package.json# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

package.json