
.pagenation {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;

        li {
            background: var(--card);
            font-size: 0.8rem;
            min-width: 1.7rem;
            text-align: center;

    
            &.active a {
                color: #fff;    
                border-radius: 50%;
                background: var(--main-color);
            }
              
            &.active a {
                color: #fff !important;
            }
            
            &.shift a{
                cursor: unset;
                color: var(--font-color-down);
                text-align: center;

                i {
                    transform: scale(0.65);
                    text-indent: -5px;
                    width: 0;
                }
            }
            
            &.page a {
                min-width: 1.85rem;
            }
              
            &.page a:hover {
                color: var(--main-color);
            }
              
            &.first {
                border-radius: 100% 0 0 100%;
                overflow: hidden;
            }
              
            &.last {
                border-radius: 0 100% 100% 0;
            }

            a {
                display: block;
                padding: 0.443rem 0.5rem;
            }
        }
    }

    :global(.shift a.active) {
        color: #fff !important;
        cursor: pointer !important;
    }
}