.popup,
  .popup__cover  {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(51 51 51 / 20%);
  }

  .popup__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: left top;
    width: 300px;
    background-color: #252a2c;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px inset;
    border: 1px solid #444;
    padding: 20px;
    animation: bounce 0.3s ease-in-out;
    color: #e9e9e9;
    text-align: center;
  }

  .popup__box__image {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .popup__box__title {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .popup__box__description {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .popup__box__button {
    display: flex;
    justify-content: space-between;
  }

  .popup__box > button {
    width: 100%;
  }

  .popup__box__button button {
    width: 49%;
  }

  .popup-success {
    color: #53ff3a;
  }

  .popup-fail {
    color: #ff4a4a;
    animation: worning 1s;
  }

  .popup-confirm {
    color: #3d9cf9;
  }