.table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;

    table {
        border-collapse: collapse;    
        white-space: nowrap;
        width: 100%;
        text-align: left;

        thead {
            border-top: 1px solid var(--border-color);
        }

        tr {
            border-bottom: 1px solid var(--border-color);
            cursor: pointer;
        }
          
        tr:hover {
            background-color: #242b3d !important;
        }
          
        tr:nth-child(2n) {
            background-color: var(--card);
        }
          
        tr:nth-child(2n+1) {
            background-color: #242b3d;
        }
          
        th, td {
            padding: 0.72rem 2rem;
        }
          
        th {
            background-color: #343d55;
        }
    }
}
