.table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;

    table {
        border-collapse: collapse;    
        white-space: nowrap;
        width: 100%;
        text-align: left;

        thead {
            border-top: 1px solid var(--border-color);
        }

        th{
            padding: 0.72rem 2rem;
            font-weight: 400;
        }
          
        th {
            background-color: #343d55;
        }
    }
}

:global(.table table td) {
    padding: 0.72rem 2rem;
}

:global(.table table tr) {
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}
  
:global(.table table tr:hover) {
    background-color: #242b3d !important;
}
  
:global(.table table tr:nth-child(2n)) {
    background-color: var(--card);
}
  
:global(.table table tr:nth-child(2n+1)) {
    background-color: #242b3d;
}