.sidebar {
    position: absolute;
    z-index: 400;
    overflow-y: auto;
    top: 0;
    left: 0;
    background: var(--card);
    height: 100vh;
    width: 235px;
    padding: 15px;
    transition: all 0.3s;

    &__header {
        display: flex;
        align-items: center;

        &__brand{
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-right: auto;

            &__logo {
                width: 50px;
            }

            &__text {
                color: var(--main-color);
                font-size: 1.5rem;
                margin-top: 0.5rem;
                padding-left: 0.5rem;
                transition: opacity 0.3s;
            }
        }

        i {
            color: var(--main-color);
            font-size: 1.20rem;
            cursor: pointer;
            margin: 0 0 1rem auto;
        }

        .fa-xmark {
            display: none;
        }
    }

    &__menu {

        .truncate {
            margin: 2.286rem 17px 0.8rem;
            height: 15px;

            a {
                color: #676d7d;
                cursor: unset;

                i {
                    display: none;
                }
            }
        } 

        .navigate {
            height: 37px;
            border-radius: 4px;

            a {
                padding: 10px 15px;
                font-size: 1rem;
                color: var(--font-color);

                i {
                    transition: margin 0.3s;
                    margin-right: 1rem;
                }
            }

            &:hover {
                i {
                    margin-left: 0.3rem;
                }
            }
        }

        &__list {

            a {
                display: flex;
            }
        }
    }

    &:hover {
        width: 235px !important;
        overflow-y: auto !important;
        
        .sidebar__header__brand__text {
            opacity: 1;
        }

        .truncate {
            i {
                display: none;
            }
            p {
                min-width: 160px;
                display: block;
            }
        }

        .navigate {
            &.active {
                background: var(--main-color-gradient);
                box-shadow: var(--main-color-shadow);
            }

            p {
                display: block;
                min-width: 135px;
            }
        }
    }
}


:global(.sidebar.hide) {
    width: 75px !important;
    overflow: hidden !important;
}

:global(.truncate.hide) {

    a {
        i {
            display: block;
        }
    
        p {
            display: none;
        }
    }
}

:global(.navigate.hide) {

    &.active {
        background: var(--background);
        box-shadow: none
    }

    i {
        display: block;
    }

    p {
        display: none;
    }
}

:global(.navigate.active) {
    background: var(--main-color-gradient);
    box-shadow: var(--main-color-shadow);

    a {
        color:  var(--font-color-light);
    }
}

:global(.navigate.hide) {
    i {
        display: block;
    }

    p {
        display: none;
    }
}

:global(.sidebar.hide .sidebar__header__brand__text) {
    opacity: 0;
}

.sidebar-wrap {
    position: absolute;
    visibility: hidden;
    z-index: 300;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005e;
    transition: 1s opacity;
}

:global(.sidebar-wrap.visible) {
    visibility: visible !important;
    opacity: 1 !important;
}


@media screen and (max-width: 1200px) {
    .sidebar {
        width: 235px !important;
    }

    .fa-circle-dot,
    .fa-circle {
        display: none;
    }

    .fa-xmark {
        display: unset !important;
    }
}