.container {
    margin-left: 230px;
    transition: margin-left 0.3s;
}

.app-content {
    padding: 7.25rem 2rem 0;
    width: 100%;
}

:global(.container.wide) {
    margin-left: 80px !important;
}