.header {
  position: fixed;
  display: flex;
  background: var(--card);
  width: calc(100% - 4rem - 230px);
  margin: 1.2rem 2rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 0.428rem;
  align-items: center;
  transition: width 0.3s;

  i {
    font-size: 1.25rem;
    width: 1.25rem;
    margin-right: auto;
    color: var(--main-color);
    cursor: pointer;
  };

  &__sign {
    font-size: 0.875rem;
    margin-left: 10px;
    color: var(--font-color);
    cursor: pointer;

    p {
      text-align: right;
    }
  }

  &__profile-icon {
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border-radius: 100%;
    cursor: pointer;
  }

}
  
:global(.header.wide) {
  width: calc(100% - 4rem - 80px) !important;
}