.sub-menu {
    position: fixed;
    z-index: 100;
    right: 3%;
    bottom: 4%;

    &__button {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        text-align: center;
        line-height: 3.2rem;
        font-size: 1.5rem;
        color: var(--font-color);
        cursor: pointer;
    }

    &__main-button {   
        position: absolute;
        z-index: 200;
        right: inherit;
        bottom: inherit;
        background: #06bee1;
        box-shadow: var(--main-color-shadow);

        i {
            transform: rotate(45deg);
            transition: transform 0.3s;
        }
    }

    &__sub-button {
        background: var(--fade-color);
        position: absolute;
        z-index: 100;
        right: inherit;
        bottom: inherit;
        transition: all 0.3s;      

        &:hover {
            box-shadow: var(--main-color-shadow);
        }
    }

    &__sub-button:first-child {
        position: absolute;
        background: var(--fade-color);
        top: 10px;
    }
}

:global(.sub-menu__main-button.active) {

    i {
        transform: rotate(0deg) !important;
    }
}

:global(.sub-menu__sub-button.active) {

    &:nth-child(2) {
        bottom: -10px;
        right: 70px;
    }

    &:nth-child(3) {
        bottom: 55px;
        right: 45px;
    }

    &:nth-child(4) {
        bottom: 65px;
        right: -20px
    }
}

@media screen and (max-width: 480px) {
    .sub-menu {
        right: 7%;
    }
}