.breadcrumb {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &__title {
        width: fit-content;
        font-size: 1.6rem;
        font-weight: 400;
        padding-right: 1rem;
        border-right: 1px solid var(--border-color);
    }

    &__home-icon {
        padding-left: 1rem;
        color: var(--main-color);
    }

    &__division {
        color: var(--font-color-down);
        padding: 0 0.5rem;
    }

    &__subtitle {
        color: var(--font-color-down);
        font-size: 1rem;
    }
}