.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;

    select {
        margin-right: 4rem;
    }

    label {
        margin-right: 0.76rem;
    }

    &__search {
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 4px;
        margin-left: auto;

        label {
            color: var(--font-color-down);
            min-width: fit-content;
        }

        &__wrap {
            display: flex;

            input {
                padding: 0.3rem 1rem;
                border-radius: 4px 0 0 4px;
            }
            
            &__button {
                background: var(--main-color);
                border-radius: 0 4px 4px 0;
                padding: 0.36rem 1rem;
                font-size: 0.85rem;
            }
        }
    }
}
  
@media screen and (max-width: 480px) {
    select {
        width: 100%;
        margin: 0 0 1rem 0 !important;
    }

    .search-form__search {
        display: block;
        width: 100%;

        &__wrap {
            width: 100%;
        }
    }
}