:global(#app) {
  height: 100vh;
  overflow: auto;
  background: var(--background);
}

:global(button) {
  min-width: fit-content;
  background: var(--main-color);
  padding: 0.586rem 1.2rem;
  border-radius: 0.358rem;
  border: 1px solid transparent;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

:global(input) {
  color: var(--font-color);
  font-size: 0.85rem;
  padding: 0.538rem 1rem;
  background: var(--card);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--border-color);
  transition: 0.3s border ;
  width: 100%;
  transition: text-indent 0.3s;

  &:focus {
    transition: 0.3s border ;
    border: 1px solid;
    border-color: var(--main-color);

    &:-webkit-input-placeholder {
      text-indent: 5px;
    }
    &:-webkit-ms-input-placeholder {
      text-indent: 5px;
    }
    &::-webkit-input-placeholder {
      text-indent: 5px;
    }
    &::-webkit-ms-input-placeholder {
      text-indent: 5px;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: var(--font-color-down);
  }

  &.invalid {
    background: url(./assets/icon/error.svg) no-repeat;
    background-position: right 10px center;
    background-size: 1.125rem;
  }
}

:global(label) {
  color: var(--font-color);
  font-size: 0.85rem;
}

:global(.invalid) {
  border-color: #ff4a4a !important;
  transition: 0.3s border-color;
}

:global(select) {
  padding: 0.4rem 0.75rem;
  padding-right: 1.5rem;
  color: var(--font-color-down);
  border-color: var(--border-color);
  border-radius: 4px;
  font-size: 0.85rem;
  appearance:none;
  background: var(--card) url(./assets/icon/select-arrow.svg) no-repeat;
  background-size: 0.6rem;
  background-position: right 8px center;

  &:focus {
    border-color: var(--main-color);
  }

  &:focus-visible {
    outline: none;
  }
}
