:root {
  --url-sprite: '../img/';
  --font-size: 0.875rem;
  --card: #283046;
  --card-shadow: 0 4px 25px 0 rgb(180 183 189 / 10%);
  --main-color: #06bee1;
  --fade-color: #06bee11f;
  --light-color: #08bee1;
  --main-color-gradient: linear-gradient(118deg,#06bee1,#06bee1b3);
  --main-color-shadow: 0 0 10px 1px rgb(6 190 225 / 70%);
  --font-color: #d0d2d6;
  --font-color-down: #b4b7bd;
  --border-color: #404656;
  --background: #161d31;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  padding: 0 0;
  background: #5e6f85;
  height: 100px;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d8ea3;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

::-webkit-scrollbar-track {
  background: var(--card);  /*스크롤바 뒷 배경 색상*/
}

* {
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
  letter-spacing: .01rem;
  font-size: var(--font-size);
  color:#d0d2d6;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
  resize: none;
}